<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <div class=layout-tab>

      <h1>{{title}}</h1>

      <div class="layout-buttons">
      |<a href="/"> Home </a>|<a href="/about"> About </a>|
      </div>
      <hr>
  </div>
    {{{body}}}
  </body>
</html>
